{
  "ignition": {
    "version": "3.3.0"
  },
  "passwd": {
    "users": [
      {
        "groups": [
          "sudo",
          "wheel"
        ],
        "name": "{{ lookup('env', 'USER') }}",
        "sshAuthorizedKeys": [
          "{{ lookup('file', ssh_key_public_path ) }}"
        ]
      }
    ]
  },
  "storage": {
    "files": [
      {
        "path": "/etc/hostname",
        "mode": 420,
        "overwrite": true,
        "contents": { "source": "data:,{{ item.name }}" }
      }
    ],
    "links": [
      {
        "path": "/etc/localtime",
        "target": "../usr/share/zoneinfo/{{ item.timezone | default('America/Toronto') }}"
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "contents": "[Unit]\nDescription=Layer vim with rpm-ostree\nWants=network-online.target\nAfter=network-online.target\n# We run before `zincati.service` to avoid conflicting rpm-ostree\n# transactions.\nBefore=zincati.service\nConditionPathExists=!/var/lib/%N.stamp\n\n[Service]\nType=oneshot\nRemainAfterExit=yes\n# `--allow-inactive` ensures that rpm-ostree does not return an error\n# if the package is already installed. This is useful if the package is\n# added to the root image in a future Fedora CoreOS release as it will\n# prevent the service from failing.\nExecStart=/usr/bin/rpm-ostree install --apply-live --allow-inactive distribution-gpg-keys libselinux-python3 python-libselinux python3 python3-libselinux python3-policycoreutils python3-psutil python3-setools shim-x64\nExecStart=/bin/touch /var/lib/%N.stamp\n\n[Install]\nWantedBy=multi-user.target\n",
        "enabled": true,
        "name": "rpm-ostree-install-packages.service"
      },
      {
        "name": "zincati.service",
        "enabled": false
      }
    ]
  }
}
