# Source: https://github.com/ansible-community/molecule-libvirt/blob/main/molecule_libvirt/playbooks/create.yml
---
- name: Create
  hosts: localhost
  gather_facts: false
  no_log: "{{ molecule_no_log }}"

  vars:
    user_home_directory: "{{ lookup('env', 'HOME') }}"
    molecule_ssh_user: "{{ lookup('env', 'USER') }}"
    molecule_private_key_path: "{{ user_home_directory }}/.ssh/id_ecdsa"
    ssh_key_public_path: "{{ user_home_directory }}/.ssh/id_ecdsa.pub"
    libvirt_uri: "qemu:///session"
    mac: "52:54:00:"
    qemu_image: fedora-coreos-42.20250609.3.0-qemu.x86_64
    qemu_image_url: https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/42.20250609.3.0/x86_64/fedora-coreos-42.20250609.3.0-qemu.x86_64.qcow2.xz

  tasks:
    - name: Set image_dir fact
      ansible.builtin.set_fact:
        image_dir: "{{ user_home_directory }}/.local/molecule/{{ lookup('env', 'MOLECULE_SCENARIO_NAME') }}/{{ item.name }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Undefine VM and remove artifacts
      ansible.builtin.shell: "virsh undefine {{ item.name }} --nvram --remove-all-storage --snapshots-metadata"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      ignore_errors: true
      tags:
        - skip_ansible_lint

    - name: Wipe working_dir
      ansible.builtin.file:
        path: "{{ image_dir }}"
        state: absent

    - name: Create working_dir
      ansible.builtin.file:
        path: "{{ image_dir }}"
        state: directory
        recurse: true

    - name: Download image.xz
      ansible.builtin.get_url:
        url: "{{ qemu_image_url }}"
        dest: "{{ image_dir }}/{{ qemu_image }}.qcow2.xz"
        mode: '0600'

    - name: Unxz the Image
      ansible.builtin.command:
        "unxz {{ image_dir }}/{{ qemu_image }}.qcow2.xz"
      args:
        chdir: "{{ image_dir }}"
      delegate_to: "localhost"
      tags:
        - skip_ansible_lint

    - name: Prepare ignition config
      ansible.builtin.template:
        src: config.ign.j2
        dest: "{{ image_dir }}/{{ item.name }}-config.ign"
        mode: '0600'
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Create an image shell with the desired size
      ansible.builtin.command:
        "qemu-img create -f qcow2 -o preallocation=metadata
        {{ item.name }}-expanded.qcow2
        {{ item.disk_size | default(default_disk_size ) }}"
      args:
        chdir: "{{ image_dir }}"
      # environment:
      #   LIBGUESTFS_BACKEND: direct
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      delegate_to: "localhost"
      tags:
        - skip_ansible_lint

    - name: Expand original image to -expanded image
      ansible.builtin.shell: |
        set -o pipefail
        umask 0002
        virt-resize --quiet --expand /dev/sda4 {{ qemu_image }}.qcow2 {{ item.name }}-expanded.qcow2
      args:
        chdir: "{{ image_dir }}"
      environment:
        LIBGUESTFS_BACKEND: direct
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      delegate_to: "localhost"
      tags:
        - skip_ansible_lint

    - name: Generate stable MAC from VM name
      ansible.builtin.set_fact:
        guest_vm_mac: >-
          {{ mac }}{{
            (item.name | hash('md5'))[0:2]
          }}:{{
            (item.name | hash('md5'))[2:4]
          }}:{{
            (item.name | hash('md5'))[4:6]
          }}
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Define vm from xml file
      community.libvirt.virt:
        name: "{{ item.name }}"
        command: define
        xml: "{{ lookup('template', 'vm.xml.j2') }}"
        uri: "{{ libvirt_uri }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Start molecule vm
      community.libvirt.virt:
        name: "{{ item.name }}"
        command: start
        uri: "{{ libvirt_uri }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Wait for ip to become available
      ansible.builtin.shell: >
        virsh --connect {{ libvirt_uri }}
        domifaddr {{ item.name }}
        --source arp |
        grep {{ mac }} |
        awk '{ print $4 }' |
        sed 's/\/.*//'
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      register: instance_ip_address_local
      until: instance_ip_address_local.stdout != ""
      retries: 60
      delay: 2
      tags:
        - skip_ansible_lint

    # TODO: Check if this is needed
    - name: Populate instance config dict
      ansible.builtin.set_fact:
        instance_conf_dict: {
          'instance': "{{ item.name }}",
          'address': "{{ instance_ip_address_local.results[0].stdout }}",
          'user': "{{ lookup('env', 'USER') }}",
          'port': "22",
          'identity_file': "{{ molecule_private_key_path }}"
        }
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      # vars:
      #   query: "[?name=='{{ item.name }}'].stdout | [0]"

    - name: Wait for SSH to become available
      ansible.builtin.wait_for:
        host: "{{ instance_conf_dict.address }}"
        port: 22
        delay: 5
        timeout: 600
        state: started
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Wait for Python to become installed by ignition
      ansible.builtin.ping:
      register: pingresult
      until: "pingresult is not failed"
      retries: 60
      delay: 10
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      delegate_to: "{{ instance_conf_dict.address | default('skipped_anyways_if_undefined') }}"
      remote_user: "{{ molecule_ssh_user }}"
      vars:
        ansible_ssh_private_key_file: "{{ molecule_private_key_path }}"

    - name: Disable zincati.service
      ansible.builtin.systemd:
        name: zincati.service
        enabled: false
        state: stopped
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      delegate_to: "{{ instance_conf_dict.address | default('skipped_anyways_if_undefined') }}"
      remote_user: "{{ molecule_ssh_user }}"
      vars:
        ansible_ssh_private_key_file: "{{ molecule_private_key_path }}"

    - name: Stop molecule instance(s)
      community.libvirt.virt:
        name: "{{ item.name }}"
        command: shutdown
        uri: "{{ libvirt_uri }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Wait until molecule instance(s) is shutdown
      community.libvirt.virt:
        command: status
        name: "{{ item.name }}"
        uri: "{{ libvirt_uri }}"
      register: instance_status
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      until: instance_status.status == "shutdown"

    - name: Create Snapshot
      ansible.builtin.shell: "virsh snapshot-create {{ item.name }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      register: snapshot
      until: snapshot.stdout is search("created")
      tags:
        - skip_ansible_lint

    # STUFF to always do in create.yml
    # TODO: Always delete snapshot, boot, patch and re-create snapshot?

    - name: Start molecule vm(s)
      community.libvirt.virt:
        name: "{{ item.name }}"
        command: start
        uri: "{{ libvirt_uri }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Wait for ip to become available
      ansible.builtin.shell: >
        virsh --connect {{ libvirt_uri }}
        domifaddr {{ item.name }}
        --source arp |
        grep {{ mac }} |
        awk '{ print $4 }' |
        sed 's/\/.*//'
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      register: instance_ip_address_local
      until: instance_ip_address_local.stdout != ""
      retries: 60
      delay: 2
      tags:
        - skip_ansible_lint

    - name: Wait for DNS resolution
      ansible.builtin.shell: "getent hosts {{ item.name.split('.')[0] }}"
      register: dns_check
      retries: 300
      delay: 1
      until: dns_check.rc == 0
      ignore_errors: true
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      tags:
        - skip_ansible_lint

    - name: Wait for ping reply
      ansible.builtin.command: ping -c 1 {{ item.name.split('.')[0] }}
      register: ping_check
      retries: 300
      delay: 1
      until: ping_check.rc == 0
      ignore_errors: true
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      tags:
        - skip_ansible_lint

    - name: Populate instance config dict
      ansible.builtin.set_fact:
        instance_conf_dict: {
          'instance': "{{ item.name }}",
          'address': "{{ instance_ip_address_local.results[0].stdout }}",
          'user': "{{ lookup('env', 'USER') }}",
          'port': "22",
          'identity_file': "{{ molecule_private_key_path }}"
        }
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      register: instance_config_dict
      # vars:
      #   query: "[?name=='{{ item.name }}'].stdout | [0]"

    - name: Convert instance config dict to a list
      ansible.builtin.set_fact:
        instance_conf: "{{ instance_config_dict.results | map(attribute='ansible_facts.instance_conf_dict') | list }}"

    - name: Dump instance config
      ansible.builtin.copy:
        content: "{{ instance_conf | to_json | from_json | to_yaml }}"
        dest: "{{ molecule_instance_config }}"
        mode: '0600'
