---
- name: Destroy
  hosts: localhost
  gather_facts: false
  no_log: "{{ molecule_no_log }}"

  vars:
    libvirt_uri: "qemu:///session"

  tasks:
    - name: Get list of all instances
      community.libvirt.virt:
        command: list_vms
        uri: "{{ libvirt_uri }}"
      register: instance_list
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Check if molecule instance(s) is/are running
      community.libvirt.virt:
        command: status
        name: "{{ item.name }}"
        uri: "{{ libvirt_uri }}"
      register: instance_status
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      when: (instance_list | json_query(jmesquery)) != []
      vars:
        jmesquery: "results[?item.name=='{{ item.name }}'].list_vms[?contains(@, '{{ item.name }}')]"

    - name: Stop molecule instance(s)
      community.libvirt.virt:
        name: "{{ item.name }}"
        command: shutdown
        uri: "{{ libvirt_uri }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      when: ((instance_list | json_query(jmesquery_1)) != [])
            and (instance_status.results |
            json_query(jmesquery_2) == 'running')
      vars:
        jmesquery_1: "results[?item.name=='{{ item.name }}'].list_vms[?contains(@, '{{ item.name }}')]"
        jmesquery_2: "[?item.name=='{{ item.name }}'].status | [0]"

    - name: Wait until molecule instance(s) is shutdown or gone
      community.libvirt.virt:
        command: status
        name: "{{ item.name }}"
        uri: "{{ libvirt_uri }}"
      register: instance_status_wait
      failed_when: false
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      retries: 10
      delay: 5
      until:
        - (instance_status_wait.status is defined and instance_status_wait.status == "shutdown")
          or ("not found" in (instance_status_wait.msg | default("")))

    # - name: Check for existing snapshot
    #   ansible.builtin.shell: "virsh snapshot-list {{ item.name }} --name"
    #   register: snapshot_check
    #   failed_when: false
    #   changed_when: false
    #   loop: "{{ molecule_yml.platforms }}"
    #   loop_control:
    #     label: "{{ item.name }}"
    #   tags:
    #     - skip_ansible_lint

    # - name: Check if image file exists
    #   ansible.builtin.command: test -f "{{ item.qemu_image_path }}"
    #   register: image_check
    #   changed_when: false
    #   loop: "{{ molecule_yml.platforms }}"
    #   loop_control:
    #     label: "{{ item.name }}"
    #   ignore_errors: true

    # - name: Undefine VM if no snapshot or image
    #   ansible.builtin.shell: "virsh undefine {{ item.name }} --nvram --remove-all-storage --snapshots-metadata"
    #   when: >
    #     (snapshot_check.results[0].stdout | length == 0) or
    #     (image_check.results[0].rc != 0)
    #   loop: "{{ molecule_yml.platforms }}"
    #   loop_control:
    #     label: "{{ item.name }}"
    #   ignore_errors: true
    #   tags:
    #     - skip_ansible_lint

    - name: Revert Snapshot
      when:
        # - snapshot_check.results[0].stdout | length > 0
        - instance_status_wait.results[0].status is defined
        - instance_status_wait.results[0].status == "shutdown"
      ansible.builtin.shell: "virsh snapshot-revert {{ item.name }} --current"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      register: snapshot
      retries: 5
      delay: 5
      until: snapshot.stdout is search("reverted")
      changed_when: false
      tags:
        - skip_ansible_lint
